.guiawidget{background-image: url(https://www.guiagaucho.com/assets/img/images/fundo.png);background-size:100%;text-align:center;}
.guialogo{width:98%;}
.guiacidade{border-width:0px;box-shadow:1px 1px 6px #00000057;font-family:arial;font-size:larger;width:98%;}
.guiapesquisa{border-width:0px;box-shadow:1px 1px 6px #00000057;padding-left:5px;font-family:arial;font-size:larger;width:98%;}
.guiapesquisar{width:98%;padding:6px;display:initial;margin-bottom:10px;background-color:#00ab3a;font-size:larger;border:0px;color:#fff;cursor:pointer;}
.guiapesquisadiv{padding-top:5px;}
