<footer class="site-footer">
<div class="categoriafooter">
  <h3>Mapa do Site</h3>
  <p><a class="linkfooter" target="_blank" href="https://www.guiagaucho.com/cadastro/">Cadastro</a><br/>
  <a class="linkfooter" target="_blank" href="https://www.guiagaucho.com/sobre/">Sobre</a><br/>
  <a class="linkfooter" target="_blank" href="https://www.guiagaucho.com/contato/">Contato</a>
  </p>
  </div>
<div class="categoriafooter">
  <h3>Social</h3>
  <p><a class="linkfooter" target="_blank" href="https://www.facebook.com/guiagauchooficial/">Facebook</a><br/>
  <a class="linkfooter" target="_blank" href="https://www.instagram.com/guiagaucho/">Instagram</a><br/>
  <a class="linkfooter" target="_blank" href="https://www.youtube.com/channel/UC5e4VUZJ9tddlWQ-nQZ3ZXg">Youtube</a>
  </p>
</div>
<div class="categoriafooter2">
<a class="linkfooter" target="_blank" href="https://www.guiagaucho.com/"><img class="logofooter" src="https://www.guiagaucho.com/assets/ico/120x120.png"/></a><br/>
<p>Copyright © 2018 <a class="linkfooter" target="_blank" href="https://www.guiagaucho.com/"><b>Guia Gaúcho</b></a><br/>
  Todos os direitos reservados.</p>
  </div>
</footer>
