<header class="site-header">
<div class='headercabecalho'>
<a href='{{ site.baseurl }}'><img alt='Guia Gaúcho Logotipo' class='imagelogo' src='{{ site.url }}/assets/img/images/Guia-Gaucho-logo.png'/></a>
  <div class='menuheader'>
<div class='menuitem'>
<a href='{{ site.baseurl }}/cadastro/' style='text-decoration:none;color:#fff;'>Cadastro</a>
  </div>
<div class='menuitem'>
<a href='{{ site.baseurl }}/sobre/' style='text-decoration:none;color:#fff;'>Sobre</a>
  </div>
<div class='menuitem'>
<a href='{{ site.baseurl }}/contato/' style='text-decoration:none;color:#fff;'>Contato</a>
  </div>
  </div>
</div>
</header>
