---
layout: defaulthome
---
<h1 class="tituloh1">Guia Cidade</h1><br/>
<div class="escolha2">
<div class="escolha">
  <button class="escolhabotao">Escolha a cidade</button>
  <div class="escolha-content">
    <a href="alegrete/">Alegrete</a>
    <a href="rosario-do-sul/">Rosário do Sul</a>
    <a href="santa-cruz-do-sul/">Santa Cruz do Sul</a>
    <a href="santa-maria/">Santa Maria</a>
    <a href="santana-do-livramento/">Santana do Livramento</a>
    <a href="uruguaiana/">Uruguaiana</a>
  </div>
</div>
</div>


<h2 class="coluna2titulo2"><b>Anúncio</b></h2>
<div class="coluna2">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- guiagaucholateraldireito -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2816982644079927"
     data-ad-slot="3446139232"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
